#root {
    background-color: #ebeaea;
}

.height-1 {
    min-height: calc(100vh - 100px);
}

html {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow-x: hidden;
    background-color: #ebeaea;
    font-family: 'hcltech_roobertregular', Arial, Helvetica, sans-serif;
}

.my-offcanvas-1 {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 10px;
}

.main-1-logo {
    font-size: 35px;
}

.main {
    background-color: #e9eaed;
}


/* .offcanvas-end{
  background-color: rgb(60 145 255);
} */

.body-flex {
    display: flex;
}

.on-hover-nav-content:hover {
    transform: scale(1.15);
    color: white;
}

.profile-page-1 {
    min-height: calc(100vh - 100px);
}

.on-hover-nav-content {
    transition-duration: 0.32s;
    animation: ease-in-out;
    color: white;
}

.on-hover-bottom-text:hover {
    text-decoration: underline;
}

.card-1:hover {
    color: rgb(95 30 190);
}

.display-none {
    display: none;
}

@media all and (min-width: 100px) and (max-width: 771px) {
    /* .join-us-title{
    font-size: 200px;
  } */
    .join-us-main-1 {
        width: 100%;
    }
    .ques-ans-page-2 {
        width: 100%;
    }
    .nav-content-1 {
        display: none;
    }
    .nav-content-2 {
        display: none;
    }
    .nav-content-3 {
        display: none;
    }
    .nav-content-4 {
        display: none;
    }
    .main-nav-content {
        display: none;
    }
    /* .for-responsivness-search-dropdown{
    width: 90%; 
   } */
    .footer-veritical-lines {
        display: none;
    }
    .footer-content-left,
    .footer-content-right {
        display: flex;
        justify-content: center;
        /* margin-top: 10px; */
    }
    .main-1 {
        width: 100%;
    }
    .main-2 {
        width: 60%;
    }
    .window-width-resp {
        width: 100%;
    }
    .my-offcanvas-1 {
        margin-right: 2px;
        margin-left: 4px;
    }
    .main-1-logo {
        font-size: 35px;
    }
    .offcanvas-end {
        width: 50%;
    }
    .main-2 {
        display: none;
    }
    .body-main {
        width: 100%;
    }
    /* .main-flex{
    display: none;
  } */
    .leftBar-main {
        display: none;
    }
    .detailed-div-2 {
        width: 90%;
    }
}

@media all and (min-width: 771px) and (max-width: 1030px) {
    .join-us-main-1 {
        width: 65%;
    }
    .ques-ans-page-2 {
        width: 80%;
    }
    /* .nav-content-1{
    display:none;
  } */
    /* .nav-content-2{
    display: none;
  } */
    .nav-content-3 {
        display: none;
    }
    .nav-content-4 {
        display: none;
    }
    /* .main-nav-content{
    display: none;
  } */
    .dropdown-menu {
        width: 70%;
    }
    .dropdown-search {
        width: 100%;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
    }
    .about__section {
        margin-top: 60px;
    }
    .main-1 {
        width: 100%;
    }
    .main-2 {
        width: 70%;
    }
    .window-width-resp {
        width: 100%;
    }
    .offcanvas-end {
        width: 35%;
    }
    .searchbox-main-4 {
        display: none;
    }
    .body-main-content {
        width: 100%;
        margin-top: 58.5px;
    }
    /* .main-flex{
    display: none;
  } */
    /* .faq-body-1{
    height:100vh;
   } */
    .nav-content-5 {
        width: 90%;
    }
    .footer-content-left {
        margin-top: 10px;
    }
    .joinus-body-1 {
        height: 26cm;
    }
    .leftBar-main {
        display: none;
    }
    .body-flex {
        margin-top: 58.7px;
    }
    .detailed-div-2 {
        width: 80%;
    }
}

@media all and (min-width:1030px) and (max-width:1400px) {
    .join-us-main-1 {
        width: 45%;
    }
    .ques-ans-page-2 {
        width: 80%;
    }
    .my-offcanvas-1 {
        display: none;
    }
    .main-1 {
        width: 100%;
    }
    .main-2 {
        width: 50%;
    }
    .window-width-resp {
        width: 100%;
    }
    .main-nav-content {
        display: flex;
    }
    .dropdown-search {
        width: 80%;
    }
    /* .for-responsivness-search-dropdown{
   width: 50%; 
  } */
    .about__section {
        margin-top: 60px;
    }
    .nav-content-5 {
        width: 70%;
    }
    .dropdown-menu {
        width: 50%;
    }
    .footer-content-left {
        margin-top: 10px;
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
        /* position: fixed;
    width: 100%;
    bottom: 0; */
    }
    .searchbox-main-4 {
        display: none;
    }
    .body-main-content {
        width: 100%;
        margin-top: 58.5px;
    }
    .body-flex {
        margin-top: 58.7px;
    }
    .detailed-div-2 {
        width: 70%;
    }
}

@media all and (min-width:1401px) {
    .join-us-main-1 {
        width: 45%;
    }
    .my-offcanvas-1 {
        display: none;
    }
    .ques-ans-page-2 {
        width: 80%;
    }
    .about__section {
        margin-top: 60px;
    }
    .main-2 {
        width: 50%;
    }
    .main-nav-content {
        display: flex;
    }
    .dropdown-search {
        width: 80%;
    }
    /* .for-responsivness-search-dropdown{
   width: 50%; 
  } */
    .nav-content-5 {
        width: 70%;
    }
    .dropdown-menu {
        width: 50%;
    }
    /* .footer { 
    background-color: green;
    border-top:2px solid red;
    position: fixed;
    width: 100%;
    bottom: 0; 
    color: white;
    font-size: 25px; 
   } */
    .footer-content-left {
        margin-top: 10px;
    }
    .footer-content {
        /* position: fixed;
    width: 100%;
    bottom: 0; */
        display: flex;
        justify-content: space-between;
        /* position: fixed;
    width: 100%;
    bottom: 0; */
    }
    .searchbox-main-4 {
        display: none;
    }
    .body-main-content {
        width: 100%;
        margin-top: 58.5px;
    }
    .body-flex {
        margin-top: 58.7px;
    }
    .main-1 {
        width: 1300px;
    }
    .window-width-resp {
        width: 1300px;
    }
    /* .collected-ques-ans{
    width:'1200px'
  } */
    .detailed-div-2 {
        width: 70%;
    }
}

.replyButtonDQAP:hover {
    /* color : rgb(60, 145, 255);  
   cursor : pointer; */
    color: rgb(60, 145, 255);
    cursor: pointer;
}


/* @media all and (min-height:250px) and (max-height:600px){
  
} */