.contact_btn {
    padding: 7px 25px;
    background: #000d6b;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: 10px;
  }
.adminmsg{
    text-align: center;
}
  @media only screen and (max-width: 768px) {
    .contact_btn {
      margin-bottom: 40px;
      font-size: 0.8rem;
    }
  }